@import "fonts/fonts.css";

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #A8FF35;
    --color-primary-darker: #87D322;
    --color-primary-hover: #8CC83A;
    --color-black: #000000;
    --color-black02: #2B2B2B;
    --color-gary01: #8B8B8B;
    --color-gary02: #ADADAD;
    --color-gary03: #F5F5F5;
    --color-gary04: #F1F1F1;
    --color-full-white: #FFFFFF;
}

html {
    font-size: 62.5%;
}

/* Typography */
body {
    font-family: 'Effra';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
}

h1, h2, h3 {
    font-size: 3.6rem;
}

h1, h2 {
    font-weight: 900;
}

h3 {
    font-weight: bold;
}


h4 {
    font-weight: 500;
    font-size: 3.2rem;
}

.heading-white {
    color: var(--color-full-white);
}

.heading-black {
    color: var(--color-black);
}


.heading-gary02 {
    color: var(--color-gary02);
}

.heading-primary-darker {
    color: var(--color-primary-darker);
}


@media screen and (min-width: 1024px) {

    body {
        font-size: 1.8rem;
    }

    h1,h2 {
        font-size: 7.2rem;
    }

    h2 {
        font-weight: bold;
    }

    h3 {
        font-size: 6.4rem;
        font-weight: bold;
    }

    h4 {
        font-size: 3.6rem;
        font-weight: 500;
    }
}