@import "fonts/fonts.css";

*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

:root {
    --color-primary: #A8FF35;
    --color-primary-darker: #87D322;
    --color-primary-hover: #8CC83A;
    --color-black: #000000;
    --color-black02: #2B2B2B;
    --color-gary01: #8B8B8B;
    --color-gary02: #ADADAD;
    --color-gary03: #F5F5F5;
    --color-gary04: #F1F1F1;
    --color-full-white: #FFFFFF;
}

html {
    font-size: 62.5%;
}

/* Typography */
body {
    font-family: 'Effra';
    font-weight: normal;
    font-style: normal;
    font-size: 1.4rem;
}

h1, h2, h3 {
    font-size: 3.6rem;
}

h1, h2 {
    font-weight: 900;
}

h3 {
    font-weight: bold;
}


h4 {
    font-weight: 500;
    font-size: 3.2rem;
}

.heading-white {
    color: var(--color-full-white);
}

.heading-black {
    color: var(--color-black);
}


.heading-gary02 {
    color: var(--color-gary02);
}

.heading-primary-darker {
    color: var(--color-primary-darker);
}


@media screen and (min-width: 1024px) {

    body {
        font-size: 1.8rem;
    }

    h1, h2 {
        font-size: 7.2rem;
    }

    h2 {
        font-weight: bold;
    }

    h3 {
        font-size: 6.4rem;
        font-weight: bold;
    }

    h4 {
        font-size: 3.6rem;
        font-weight: 500;
    }
}


/* Button */

.btn {
    font-weight: bold;
    border-radius: 40px;
    padding: 1.2rem 2.4rem;
    display: inline-block;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-black);
}

.btn-primary:hover {
    background: var(--color-primary-hover);
}

.btn-black {
    color: var(--color-full-white);
    background: var(--color-black);
}

.btn-black:hover {
    background: var(--color-black02);
}

.btn-block {
    width: 100%;
    text-align: center;
}

.btn-white {
    background: var(--color-full-white);
    color: var(--color-black) !important;
}


@media screen and (min-width: 1024px) {
    .btn {
        padding: 1.6rem 3.2rem;
    }
}


/* arrow */
.arrow {
    font-family: GoodDog;
    display: inline-flex;
    font-size: 1.2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(6deg);
}

.arrow-no-rotate {
    transform: rotate(0);
}

.arrow__image {
    flex: 1;
}

.arrow__text {
    flex: 1;
    text-align: center;
}

.arrow-up .arrow__image {
    order: -1;
}

.arrow-up.arrow-left .arrow__image img {
    transform: rotate(270deg) rotateX(180deg);
    margin-right: 50%;
}

.arrow-up.arrow-left .arrow__image {
    padding-right: 50%;
}

.arrow-left .arrow__image img {
    transform: rotateY(180deg);
}

.arrow-left .arrow__image {
    padding-right: 50%;
    padding-top: 0.6rem;
}

.arrow-up.arrow-right .arrow__image img {
    transform: rotate(270deg);
}

.arrow-up.arrow-right .arrow__image {
    padding-left: 50%;
}

.arrow-up.arrow-right .arrow__text {
    margin-top: -0.8rem;
}

.arrow-withe {
    color: var(--color-full-white);
}

@media screen and (min-width: 768px) {
    .arrow {
        font-size: 1.4rem;
    }

    .arrow-left .arrow__image img {
        transform: rotate(90deg);
    }

    .arrow-left .arrow__image {
        padding-right: 50%;
        padding-top: 0.2rem;
    }

    .arrow-up.arrow-right .arrow__image {
        padding-left: 40%;
    }

    .arrow-up.arrow-right .arrow__text {
        margin-top: 0;
    }
}


/* Tabs */
.tabs {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.tabs > img {
    width: 100%;
}

.tabs > :nth-child(odd) {
    transform: rotate(357deg);
}

.tabs > :nth-child(even) {
    transform: rotate(3deg);
}

.tabs__img1 {
    z-index: 4;
}

.tabs__img2 {
    margin-top: -2.5rem;
    z-index: 3;
}

.tabs__img3 {
    margin-top: -2.6em;
    z-index: 2;
}

.tabs__img4 {
    margin-top: -2.5rem;
    z-index: 1;
}

@media screen and (min-width: 1024px) {
    .tabs {
        flex-direction: row;
    }

    .tabs > img {
        width: 25%;
    }

    .tabs__img1 {
        margin-top: 0;
        z-index: 4;
    }

    .tabs__img2 {
        margin-top: 0;
        margin-left: -13rem;
        z-index: 3;
    }

    .tabs__img3 {
        margin-top: 0;
        margin-left: -9rem;
        z-index: 2;
    }

    .tabs__img4 {
        margin-top: 0;
        margin-left: -8rem;
        z-index: 1;
    }

    .tabs > :nth-child(even) {
        top: 55px;
        position: relative;
    }
}

/* companies */
.companies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0 2rem;
}

.companies__container {
    background: var(--color-gary03);
    height: 7.4rem;
    /*width: 16.2rem;*/
    padding: 2.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies__container img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 1024px) {
    .companies {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3.2rem;
    }

    .companies__container {
        height: 12rem;
        padding: 4rem 3.8rem;
    }
}


/* medias */

.trend_media {
    display: flex;
    width: 100%;
    overflow: hidden;
    gap: 1.6rem;
}

.trend_media__item {
    width: 6.4rem !important;
    height: 6.4rem;
    border-radius: 8px;
    background: var(--color-full-white);
    flex-shrink: 0;
    padding: 1.7rem;
}

.trend_media__item img {
    width: 100%;
}

.trend_media__item_active {
    background: var(--color-primary);
}

@media screen and (min-width: 1024px) {
    .trend_media {
        gap: 2.4rem;
        justify-content: center;
    }

    .trend_media__item {
        width: 12.4rem !important;
        height: 12.4rem;
        padding: 3.2rem;
    }
}


/* Yearly Monthly  switch */

.switch-box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-full-white);
    font-size: 1.8rem;
    position: relative;
}

#switch_input01 {
    display: none;
}

.switch-box__label {
    background: var(--color-full-white);
    display: inline-block;
    width: 10.4rem;
    height: 4.4rem;
    border-radius: 99px;
    position: relative;
    transition: 0.4s;
    margin: 0 2.8rem;
    flex-shrink: 0;
}

.switch-box__yearly span {
    color: var(--color-gary03);
    opacity: 0.5;
    transition: 0.4s;
    position: relative;
}

.switch-box__monthly span {
    color: var(--color-full-white);
    opacity: 1;
    transition: 0.4s;
}

.switch-box__label:before {
    background: var(--color-primary);
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    bottom: 0.8rem;
    left: 0.8rem;
    content: "";
    border-radius: 99px;
    transition: 0.4s;
}

#switch_input01:checked ~ .switch-box__label:before {
    left: 7rem;
}

#switch_input01:checked ~ .switch-box__yearly span {
    color: var(--color-full-white);
    opacity: 1;
}

#switch_input01:checked ~ .switch-box__monthly span {
    color: var(--color-gary03);
    opacity: 0.5;
}

.switch-box__arrow_mobile {
    position: absolute;
    bottom: -7rem;
    right: -7rem;
}

.switch-box__arrow_desktop {
    display: none;
}

@media screen and (min-width: 1024px) {

    .switch-box {
        font-size: 2.4rem;
    }

    .switch-box__label {
        height: 5.2rem;
    }

    .switch-box__label:before {
        width: 3.6rem;
        height: 3.6rem;
    }

    #switch_input01:checked ~ .switch-box__label:before {
        left: 6rem;
    }

    .switch-box__arrow_mobile {
        display: none;
    }

    .switch-box__yearly {
        position: relative;
    }

    .switch-box__arrow_desktop {
        display: inline-block;
        position: absolute;
        right: -9rem;
        bottom: -2rem;
    }

}


/* Plans */

.plan {
    background: var(--color-full-white);
    border-radius: 15px;
    padding: 2rem 2.7rem;
    min-height: 60.2rem;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-out;
}

.plan:hover {
    transform: scale(1.05);
}

.plan__heading {
    margin-bottom: 1rem;
}


.plan__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.plan .btn {
    margin-top: auto;
    font-weight: bold;
    font-size: 1.8rem;
}

.plan__description {
    font-size: 1.8rem;
    margin-bottom: 2.4rem;
}

.plan__price {
    font-size: 6rem;
    font-weight: 500;
}

.plan__period {
    font-size: 1.8rem;
}


.plan__list li {
    list-style: url("../images/list-tick.png");
    margin: 2rem 2rem;
    font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
    .plan__heading {
        font-weight: 400;
    }

    .plan__price {
        font-size: 6.4rem;
    }
}

.plan--popular {
    background: var(--color-primary);
}

/* collapsible */

.collapsible {

}

.collapsible_content {
    text-align: center;
    max-height: 0;
    transition: 0.5s;
    overflow: hidden;
}

.collapsible__icon {
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 5rem;
    vertical-align: center;
    text-align: center;
    padding: 0.8rem 0.8rem 0;
    border-radius: 4px;
}

.collapsible_item {
    margin: 2.5rem;
}


.expanded .collapsible_content {
    max-height: 100vh !important;
    opacity: 1 !important;
}

/* Nav */

.nav {
    padding: 2rem 5rem;
}


.nav .collapsible i {
    color: var(--color-full-white);
}

.nav__img_desktop {
    width: 17rem;
    height: 4.1rem;
}

.nav .collapsible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav .collapsible .collapsible_content {
    opacity: 1;
    max-height: 100vh;
}

.nav .collapsible .collapsible_content .nav_list_center {
    display: flex;
    color: var(--color-full-white);
    list-style: none;
}

.nav__center_list_item {
    margin: 0 1.5rem;
}

.nav .collapsible .collapsible_content .nav_list_center a {
    color: var(--color-full-white);
    font-size: 1.8rem;
}

.nav__auth_list {
    display: flex;
    align-items: center;
    list-style: none;
}

a.nav__none_btn {
    color: var(--color-full-white);
}

.nav__auth_list li {
    margin-left: 2rem;
}

.nav .btn {
    font-weight: 400;
    padding: 1.2rem 3.2rem;
}

.nav__img_mobile {
    display: none;
    width: 4rem;
    height: 4rem;
}


.nav__login_mobile,
.nav__register_mobile,
.nav__btn {
    display: none;
}

@media screen and (max-width: 1024px) {

    .nav__login_mobile,
    .nav__register_mobile,
    .nav__btn {
        display: block;
    }

    .nav {
        padding: 2rem 2rem;
    }

    .nav .collapsible .collapsible_content {
        opacity: 0;
        max-height: 0;
    }

    .nav__auth {
        display: none;
    }

    .nav__img_mobile {
        display: block;
    }

    .nav__img_desktop {
        display: none;
    }

    .nav .collapsible_content {
        width: 100vw;
        margin-top: 5rem;
    }

    .nav .collapsible .collapsible_content .nav_list_center {
        display: flex;
        flex-direction: column;
        color: var(--color-black);
    }

    .nav__center_list_item {
        margin-bottom: 2rem;
    }

    .nav__login_mobile {
        margin-top: 2rem;
    }

}

/* hero */

.hero {
    background: black url("../images/Bg-hero/Ornament.svg");
    color: var(--color-full-white);
    padding-bottom: 3.5rem;
}

.hero__content {
    text-align: center;
    max-width: 31.8rem;
    margin: 1rem auto 0;
}

.hero__text {
    color: var(--color-gary01);
    max-width: 28.6rem;
    text-align: center;
    margin: 2rem auto 0;
    line-height: 3rem;
}

.hero__btn {
    margin-top: 5rem;
}

.hero .tabs {
    max-width: 30.6rem;
    margin-top: 5rem;
}

.hero .arrow {
    display: none;
}

@media screen and (min-width: 1024px) {
    .hero {
        background: black url("../images/Bg-hero/Ornament-1.svg") center;
        background-size: cover;
        min-height: 100vh;
        padding-bottom: 11rem;
    }

    .hero__content {
        margin-top: 9rem;
        max-width: 70rem;
    }

    .hero__text {
        max-width: 70rem;
    }

    .hero__btn {
        margin-top: 4rem;
        position: relative;
        display: inline-block;
    }

    .hero .arrow {
        display: block;
        position: absolute;
        right: -57%;
        bottom: -6%;
    }

    .hero .tabs {
        margin-top: 9rem;
        max-width: 100%;
    }
}