<nav class="nav">
    <div class="collapsible">
        <div class="nav__img_section">
            <img class="nav__img_desktop" src="images/Logo%20color.png" alt="">
            <img class="nav__img_mobile" src="images/Fav-256px.png" alt="">
        </div>
        <div class="nav__btn">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
        <div class="collapsible_content">
            <ul class="nav_list_center">
                <li class="nav__center_list_item"><a href="#">About</a></li>
                <li class="nav__center_list_item"><a href="#">How it work</a></li>
                <li class="nav__center_list_item"><a href="#">Pricing</a></li>
                <li class="nav__center_list_item"><a href="#">Solution</a></li>
                <li class="nav__center_list_item"><a href="#">Features</a></li>
                <li class="nav__center_list_item nav__login_mobile"><a class="nav__none_btn" href="#">Login</a></li>
                <li class="nav__center_list_item nav__register_mobile"><a class="btn btn-white" href="#">Register</a></li>
            </ul>
        </div>
        <div class="nav__auth">
            <ul class="nav__auth_list">
                <li><a class="nav__none_btn" href="#">Login</a></li>
                <li><a class="btn btn-white" href="#">Register</a></li>
            </ul>
        </div>
    </div>

</nav>