<div class="switch-box">
    <input type="checkbox" id="switch_input01">
    <div class="switch-box__monthly">
        <span>Monthly </span>
    </div>
    <label class="switch-box__label" for="switch_input01">
        <!--mobile only-->
        <div class="arrow arrow-up arrow-left arrow-withe switch-box__arrow_mobile">
            <div class="arrow__text">Save 10% <br> per month</div>
            <div class="arrow__image">
                <img src="images/arrow%20white.svg" alt="">
            </div>
        </div>
    </label>
    <div class="switch-box__yearly">
        <span class="switch-box__yearly">Yearly</span>
        <div class="arrow arrow-left arrow-withe switch-box__arrow_desktop">
            <div class="arrow__text">Save 10% <br> per month</div>
            <div class="arrow__image">
                <img src="images/arrow%20white.svg" alt="">
            </div>
        </div>
    </div>

</div>