<div class="plan plan--popular">
    <header class="plan__header">
        <h4 class="plan__heading">Personal</h4>
        <p class="plan__description">Special first packet for all</p>
    </header>
    <div class="plan__information">
        <span class="plan__price">$8</span>
        <span class="plan__period">/Month</span>
    </div>

    <ul class="plan__list">
        <li>Up to 5 page each group</li>
        <li>Up to 10 group page</li>
        <li>5 Days group page saved</li>
    </ul>
    <a href="#" class="btn btn-black btn-block">Start Free Trial</a>
</div>
