<div class="trend_media">
    <div class="trend_media__item">
        <img src="images/social%20media8.png">
    </div>
    <div class="trend_media__item trend_media__item_active">
        <img src="images/social%20media7.png">
    </div>
    <div class="trend_media__item">
        <img src="images/social%20media6.png">
    </div>
    <div class="trend_media__item">
        <img src="images/social%20media5.png">
    </div>
    <div class="trend_media__item">
        <img src="images/social%20media4.svg">
    </div>
    <div class="trend_media__item">
        <img src="images/social%20media3.svg">
    </div>
    <div class="trend_media__item">
        <img src="images/social%20media2.svg">
    </div>
    <div class="trend_media__item">
        <img src="images/social%20media1.svg">
    </div>
</div>